<a href="https://colab.research.google.com/github/menezescarlos/Python-Data-Science/blob/main/Atividades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Nome: ' + 'carlos')
print('Sobrenome: ' + 'menezes de oliveira' )

Nome: carlos
Sobrenome: menezes de oliveira

In [ ]:
print('c')
print('a')
print('r')
print('l')
print('o')
print('s')

c
a
r
l
o
s

In [ ]:
print('Ano Atual:',2023)

Ano Atual: 2023

In [ ]:
i = 5
type(i)

int

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)
type(nome_aluno)
type(idade_aluno)
type(media_aluno)
type(situacao_aprovado)

Fabricio Daniel 15 8.45 True

bool

In [ ]:
data_compra = '10/07/2004'
type(data_compra)

str

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

print(s_seguranca + s_docente + s_diretoria)
print(q_seguranca * s_seguranca)
print(s_docente / q_docente)
print(s_diretoria - s_docente)

21500
15000
375.0
6500

In [ ]:
nome = input('Escreva seu nome: ')

Escreva seu nome: Carlos

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))

Escreva o ano de ingresso do(a) estudante:  1988

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 8
Ano de entrada 1988 - nota do teste de ingresso 8.0

In [ ]:
nome = "Ana Maria"
idade = 17
print(f"O nome da aluna é {nome} e sua idade é {idade} anos.")

O nome da aluna é Ana Maria e sua idade é 17 anos.

In [ ]:
nome = input("olá,  nome: ")

olá,  nome: carlos

In [ ]:
nome = input("Olá, Nome: ")
idade = input("Idade: ")

print(f"Nome {nome} Idade {idade}")

Olá, Nome: carlos
Idade: 35
Nome carlos Idade 35

In [ ]:
nome = input("Olá, Nome: ")
idade = input("Idade: ")
metros = input("Metros: ")

print(f"Nome: {nome} Idade: {idade} Metros: {metros}")

Olá, Nome: carlos
Idade: 35
Metros: 1.80
Nome: carlos Idade: 35 Metros: 1.80

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2: "))

print(valor1 + valor2)

valor 1: 2
valor 2: 3
5

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2: "))
valor3 = int(input("valor 3: "))

print(valor1 + valor2 + valor3)

valor 1: 3
valor 2: 4
valor 3: 5
12

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2: "))

print(valor1 - valor2)

valor 1: 5
valor 2: 4
1

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2: "))

print(valor1 * valor2)

valor 1: 4
valor 2: 3
12

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2 diferente de zero: "))

print(valor1 / valor2)

valor 1: 3
valor 2 diferente de zero: 4
0.75

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2 diferente de zero: "))

print(valor1 ** valor2)

valor 1: 2
valor 2 diferente de zero: 3
8

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2 diferente de zero: "))

print(valor1 // valor2)

valor 1: 8
valor 2 diferente de zero: 4
2

In [ ]:
valor1 = int(input("valor 1: "))
valor2 = int(input("valor 2 diferente de zero: "))

print(valor1 % valor2)

valor 1: 3
valor 2 diferente de zero: 4
3

In [ ]:
nota1 = int(input("Nota 1: "))
nota2 = int(input("Nota 2: "))
nota3 = int(input("Nota 3: "))

print((nota1 + nota2 + nota3) / 3)

Nota 1: 3
Nota 2: 4
Nota 3: 3
3.3333333333333335

In [ ]:
nota1 = 5
peso1 = 1

nota2 = 12
peso2 = 2

nota3 = 20
peso3 = 3

nota4 = 15
peso4 = 4

# calcula média
media = (nota1*peso1 + nota2*peso2 + nota3*peso3 + nota4*peso4) / (peso1+peso2+peso3+peso4)

# imprime a média
print("Média: ",media)
type(media)

Média:  14.9

float

In [ ]:
frase = 'carlos menezes'
print(frase)

carlos menezes

In [ ]:
frase = input('Digite uma frase: ')
print(frase)

Digite uma frase: Carlos é o melhor
Carlos é o melhor

In [ ]:
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: carlos menezes de oliveira
CARLOS MENEZES DE OLIVEIRA

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower())

Digite uma frase: CARLOS MENEZES DE OLIVEIRA
carlos menezes de oliveira

In [ ]:
frase = ' Digite '
print(frase.strip())

Digite

In [ ]:
frase = input(' Digite uma frase: ')
print(frase.strip().lower())

 Digite uma frase: carlos menezes
carlos menezes

In [ ]:
frase = input(' Digite uma frase: ')
print(frase.strip())

 Digite uma frase: CARLOS MENEZES
CARLOS MENEZES

In [ ]:
frase = input(' Digite uma frase: ')
print(frase.strip().replace('e','f'))

 Digite uma frase: frase
frasf

In [ ]:
frase = input(' Digite uma frase: ')
print(frase.strip().replace('a','@'))

 Digite uma frase: frase
fr@se

In [ ]:
frase = input(' Digite uma frase: ')
print(frase.strip().replace('s','$'))

 Digite uma frase: frase
fra$e

In [ ]:
idade_maria = int(input("Digite a idade de Maria: "))
idade_ana = int(input("Digite a idade de Ana: "))

if idade_maria > idade_ana:
 print ("Maria é Mai velha")
else: print ("Ana é mais velha")

Digite a idade de Maria: 9
Digite a idade de Ana: 10
Ana é mais velha

In [ ]:
#1) Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

numero_um = int(input("Digite o numero 1: "))
numero_dois = int(input("Digite o numro 2: "))

if numero_um > numero_dois:
  print(f"numero um é maior {numero_um}")
else:
  print(f"numero dois é maior {numero_dois}")

Digite o numero 1: 5
Digite o numro 2: 6
numero dois é maior 6

In [ ]:
#2) Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

numero_crescimento = float(input("Digite o percentual de crescimento: "))

if numero_crescimento > 0:
  print("Crescimento positivo")
else:
  print("Crescimento negativo")

Digite o percentual de crescimento: -10.2
Crescimento negativo

In [ ]:
#3) Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

letra = str(input("Digite uma letra: "))

if letra == "a":
  print("Vogal")
elif letra == "e":
  print("Vogal")
elif letra == "i":
  print("Vogal")
elif letra == "o":
  print("Vogal")
elif letra == "u":
  print("Vogal")
else:
  print("Consoante")

Digite uma letra: j
Consoante

In [ ]:
#4) Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

valor_ano1 = float(input("Digite um valor de carro: "))
valor_ano2 = float(input("Digite um valor de carro: "))
valor_ano3 = float(input("Digite um valor de carro: "))

if valor_ano1 > valor_ano2:

In [ ]:
#5) Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [ ]:
#6) Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
#7) Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [ ]:
#8) Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo %.

In [ ]:
#9) Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [ ]:
Momento dos projetos
10) Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

In [ ]:
11) Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:

Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
Triângulo Equilátero: três lados iguais;
Triângulo Isósceles: quaisquer dois lados iguais;
Triângulo Escaleno: três lados diferentes.

In [ ]:
12) Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R$ 2,00 e o preço do litro de etanol é R$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

In [ ]:
13) Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:

Para variação acima de 20%: bonificação para o time de vendas.
Para variação entre 2% e 20%: pequena bonificação para time de vendas.
Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
Para bonificações abaixo de -10%: corte de gastos.
Caso precise de ajuda, opções de solução das atividades estarão disponíveis na seção “Opinião da pessoa instrutora”.

In [ ]:
Aquecendo na programação
1) Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [ ]:
2) Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a B com 10.

In [ ]:
3) Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
4) Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [ ]:
5) Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. Lembrando que o fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
Momento dos projetos
6) Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:

Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20
COPIAR CÓDIGO

In [ ]:
7) Os números primos possuem várias aplicações dentro da Ciência de Dados em criptografia e segurança, por exemplo. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Assim, faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

In [ ]:
8) Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

In [ ]:
9) Em uma eleição para gerência em uma empresa com 20 pessoas colaboradoras, existem quatro candidatos(as). Escreva um programa que calcule o(a) vencedor(a) da eleição. A votação ocorreu da seguinte maneira:

Cada colaborador(a) votou em uma das quatro pessoas candidatas (que representamos pelos números 1, 2, 3 e 4).
Também foram contabilizados os votos nulos (representados pelo número 5) e os votos em branco (representados pelo número 6).
Ao final da votação, o programa deve exibir o número total de votos para cada candidato(a), os nulos e os votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

In [ ]:
Aquecendo na programação
1) Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Com esses valores, faça um programa que calcule a média de gastos. Dica: use as funções built-in sum() e len().

In [ ]:
2) Com os mesmos dados da questão anterior, defina quantas compras foram realizadas acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [ ]:
3) Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: [1,4,7,2,4].

In [ ]:
4) Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [ ]:
5) Faça um programa que, ao inserir um número qualquer, cria uma lista contendo todos os números primos entre 1 e o número digitado.

In [ ]:
6) Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

In [ ]:
Momento dos projetos
7) Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias multiplicadas por dia e pode ser observado a seguir: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

In [ ]:
8) Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:
9) Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.

Gabarito da prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
COPIAR CÓDIGO

In [ ]:
10) Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram, mostrando os meses por extenso (Janeiro, Fevereiro, etc.).

In [ ]:
11) Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:

{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
COPIAR CÓDIGO
Escreva um código que calcule o total de vendas e o produto mais vendido.

In [ ]:
12) Uma pesquisa de mercado foi feita para decidir qual design de marca infantil mais agrada as crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:

'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''
COPIAR CÓDIGO
Adapte os dados fornecidos para uma estrutura de dicionário. A partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [ ]:

13) As pessoas colaboradoras de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. O abono de cada colaborador(a) não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos(as) colaboradores(as) receberam o abono mínimo e qual o maior valor de abono fornecido.

In [ ]:
14) Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área dessa floresta e armazenou essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.

{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}
COPIAR CÓDIGO
Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in sum() e len().

In [ ]:

15) O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
COPIAR CÓDIGO
Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.